 body{
    background-image:url("hình-nền-anime-đẹp-nhất-cho-Laptop-anh-hùng-1536x960.jpg");
   }
.login{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    background: white;
}
.login h2{
    color: plum;
    font-family: sans-serif;
}
.login input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.login button{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: pink;
    color: white;
}
.login button:hover{
    font-size: 15px;
}
.login p{
    display: inline-book;
    float: left;
    padding-left: 30px;
    margin: 0px;
}
