body{
    background-image:url("hình-nền-anime-đẹp-nhất-cho-Laptop-anh-hùng-1536x960.jpg");
   }
.register{
   width: 300px;
   height: 350px;
   border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    background: white;
}
.register h2{
color: plum;
font-family: sans-serif;
}
.register input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
    margin-bottom: 10px;
}
.register button{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:none;
    background-color: pink;
    color: white;
}
.register button:hover{
    font-size: 15px;
}
.register p{
    display: inline-book;
    float: left;
    padding-left: 50px;
    margin: 0px;
}